.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contentBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  padding-top: calc(var(--padding-size) * 4);
}
