@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slick-slider {
  width: 980px;
}
.slick-prev:before,
.slick-next:before {
  color: var(--color-main);
  font-size: var(--font-big);
}

.slick-prev {
  left: -40px;
}

@media (max-width: 1065px) {
  .slick-slider {
    width: 850px;
  }
}

@media (max-width: 935px) {
  .slick-slider {
    width: 650px;
  }
}

@media (max-width: 735px) {
  .slick-slider {
    width: 280px;
  }
}
