.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;

  margin-bottom: calc(var(--padding-size) * 2);
  padding: calc(var(--padding-size) * 2);
  background-color: var(--color-main);
}

.title {
  font-weight: var(--weight-bold);
  font-size: var(--font-big);
  text-decoration: none;
  color: var(--color-white);
}

.iconBox {
  display: flex;
  align-items: center;
}
.ticketIcon {
  cursor: pointer;

  font-size: var(--font-regular);
  color: var(--color-white);
}
.logout {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: var(--font-medium);
  color: var(--color-white);
  font-family: 'Sora', sans-serif;
  margin-left: var(--padding-size);
}
