.rowBox {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-bottom: calc(var(--padding-size) * 2);
}
.seat {
  width: 40px;
  height: 40px;
  background-color: var(--color-main);
  border-radius: 8px;
  text-align: center;
  line-height: 40px;

  cursor: pointer;

  color: var(--color-white);
}

.seat:hover {
  background: linear-gradient(
    0deg,
    rgba(255, 160, 90, 1) 0%,
    rgba(231, 43, 43, 1) 50%
  );
}

.sold {
  pointer-events: none;
  background-color: var(--color-gray);
}

.selected {
  background-color: var(--color-sub);
}
