@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600&display=swap');

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-main: #e72b2b;
  --color-sub: #ffc720;
  --color-white: #ffffff;
  --color-gray: #636363;
  --color-light-gray: #ededed;

  --padding-size: 8px;

  --weight-bold: 600;
  --weight-medium: 400;
  --weight-light: 200;

  --font-title: 48px;
  --font-big: 36px;
  --font-regular: 26px;
  --font-medium: 18px;
  --font-small: 12px;
  --font-micro: 8px;

  --animation-duration: 300ms;
}

html {
  height: 100vh;
}

#root {
  height: 100%;
  font-family: 'Sora', sans-serif;
}

* {
  box-sizing: border-box;
}
